
  <div class="title">
      Procedures
  </div>

  <div>
    <button class="back-button" routerLink="/">Back</button>
  </div>

  <table>
    <thead>
    <tr>
      <th>Procedure name</th>
      <th>price</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let tempProcedure of procedures">
      <td>{{tempProcedure.name}}</td>
      <td>{{tempProcedure.price | currency:'RON '}}</td>
    </tr>
    </tbody>
  </table>

  <div>
    <button *ngIf="showedForm==false" class="procedure-button" (click)="showNewProcedureForm(true)">Add procedure</button>
  </div>

  <div *ngIf="showedForm==true">
    <form [formGroup]="proceduresFormGroup"class="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div><label>Procedure name</label>
          <input class="input-space" formControlName="procedureName"type="text" >
          <div *ngIf="procedureName?.invalid && (procedureName?.dirty || procedureName?.touched)" class="alert">
            Procedure name is required
          </div>
        </div>
      </div>

      <div class="row">
        <div><label>Price</label>
          <input class="input-space" formControlName="price"type="text" >
          <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="alert">
            Price is required
          </div>
        </div>
      </div>
    <button class="submit-button">add</button>
    </form>

    <div>
      <button class="back-button" (click)="showNewProcedureForm(false)">cancel</button>
    </div>
  </div>


