<div class="container">
  <div class="appointments-title">
    Appointments
  </div>
  <div class="top-buttons">
    <button class="doctors-button" routerLink="/appointments">Back to doctors</button>
    <button class="add-appointment" routerLink="/addNewAppointment">Add new appointment</button>
  </div>
  <table>
  <thead>
    <tr>
      <th>Animal</th>
      <th>Diagnostic</th>
      <th>Doctor name</th>
      <th>Data</th>
      <th>Time</th>
      <th>Total price</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tempAppointment of appointments">
      <td>{{tempAppointment.animal}}</td>
      <td>{{tempAppointment.diagnostic}}</td>
      <td>{{tempAppointment.doctorName}}</td>
      <td>{{tempAppointment.date}}</td>
      <td>{{tempAppointment.time}}</td>
      <td>{{tempAppointment.totalPrice}}</td>
      <td>{{tempAppointment.status}}</td>
      <td class="edit"><button class="edit-button" (click)="editAppointment(tempAppointment)">edit</button></td>


    </tr>
  </tbody>
</table>

  <div class="page-buttons">
    <button class="prev-page" (click)="decrementPage()"><</button>
    <button class="next-page" (click)="incrementpage()">></button>

  </div>


</div>

