<div class="container">
  <div class="appointments-title">
    Appointments
  </div>
    <button class="doctors-button" routerLink="/appointments">Back to doctors</button>
<table>
  <thead>
    <tr>
      <th>Animal</th>
      <th>Diagnostic</th>
      <th>Doctor name</th>
      <th>Data</th>
      <th>Time</th>
      <th>Procedures</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tempAppointment of appointments">
      <td>{{tempAppointment.animal}}</td>
      <td>{{tempAppointment.diagnostic}}</td>
      <td>{{tempAppointment.doctorName}}</td>
      <td>{{tempAppointment.data}}</td>
      <td>{{tempAppointment.time}}</td>
      <td>{{tempAppointment.procedures}}</td>
      <td>{{tempAppointment.status}}</td>


    </tr>
  </tbody>
</table>

  <div class="page-buttons">
    <button class="prev-page" (click)="decrementPage()"><</button>
    <button class="next-page" (click)="incrementpage()">></button>

  </div>


</div>

